*
!**/
*.md
*.deb
*key_*
*.pem



!*.tf
!*.py
!*.yaml
!*.yml
!*.zip
!*.html
!*.txt
!*.sh
!Dockerfile
!.gitkeep
!README.md
!app.js
!package*.json


!.gitignore

!*/
.terraform/
app/node_modules/
kubernetes_doc.yaml
values.override.yaml
dashboard.key
dashboard.crt
*.override.yaml
dashboard.crt
dashboard.key
